* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../TimeExchange/images_time/money&time.png);
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 500px;
  padding: 0px 50px;
  background: hsl(202, 94%, 13%, 0.2);
  box-shadow: 5px 5px 25px hsl(218, 100%, 2%);
}
.logo img {
  width: 100px;
  height: 100px;
}

.Minute,
.Second {
  position: relative;
  display: block;
}
.logo .Minute::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 22px;
  left: 48px;
  top: 35px;
  background-color: rgb(192, 153, 27);
  border-radius: 5px;
  transform-origin: bottom center;
}
.logo .Second::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 18px;
  top: 35px;
  left: 48px;
  background-color: rgb(192, 153, 27);
  border-radius: 4px;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: bottom center;
}

.login h1 {
  margin: 0;
  padding: 20px 20px;
  color: #e1d8b9de;
  text-align: center;
  font-family: "Cairo", sans-serif;
  text-shadow: 5px 5px 5px rgba(2, 2, 2, 0.2);
}

.login label {
  color: rgb(222, 178, 72);
  font-weight: bold;
  text-shadow: 0px 0px 2px #ddd;
}

.login input {
  width: 100%;
  margin: 10px 0px;
  border-radius: 15px;
}
.login input[type="text"],
.login input[type="password"] {
  height: 40px;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
}
.login input[type="text"]:hover,
.login input[type="password"]:hover {
  border-bottom: 2px solid rgb(222, 178, 72);
  outline: none;
  transition: 0.4s;
  transform: scale(1.03);
  box-shadow: 0 2px 10px rgb(222, 178, 72);
}
.login input[type="submit"] {
  border: none;
  color: white;
  height: 40px;
  font-size: 20px;
  background-image: linear-gradient(to right bottom, rgb(166 95 25), #f29e52);
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 25px;
  transition: 0.5s ease;
  box-shadow: 0 4px 15px rgba(222, 178, 72, 0.5);
}
.login input[type="submit"]:hover {
  transform: scale(1.1);
}
.login a {
  text-decoration: none;
  color: rgb(222, 178, 72);
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0px 0px 2px #ddd;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
